form, .radio-btn {
    display: flex;
    align-items: center;
}

.pet-creation-form {
    justify-content: center;
    display: flex;
}

form {
    width: 80%;
}

.btn-input {
    margin-left: 10px;
}