<div class="pet-creation-form">
  <form action="/auth/signup" method="POST" (submit)="createPet()" #myForm="ngForm">
    <div>
      <div class="field" [ngClass]="{'has-error': petName.errors && petName.touched}">
        <label for="name">Pet Name:</label>
        <input class="form-control" type="text" [(ngModel)]="pet.name" name="name" #petName="ngModel" required>
      </div>

      <div *ngIf="petName.errors && petName.touched">
        <p *ngIf="petName.errors.required" class="validation">Pet name is required</p>
      </div>
      <div class="radio-btn">
        <label>Pet type:</label>
        <div class="radio" *ngFor="let type of types">
          <label>
            <input type="radio" name="type" [(ngModel)]="pet.type" [value]="type.value">
            {{type.display}}
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="!petName.errors" class="btn-input">
      <input class="btn btn-sm" type="submit" value="Submit">
    </div>
    <div *ngIf="petName.errors" class="btn-input">
        <input class="btn btn-sm" type="button" value="Submit">
      </div>
  </form>
</div>