<div class="loading" *ngIf="!user">
    ...loading
</div>

<div *ngIf="user">

  <div class="user-details">
    <div class="Photo"></div>
    <div class="user-descr">
      <div id="username">{{user.username}}</div>
      <div id="fullname">{{user.firstName}} {{user.lastName}}</div>
    </div>
    <div><a [routerLink]="['/#']">Edit Profile</a></div>
  </div>
  <div class="registers-container">
    <div class="register" (click)="registerPet()">Register<br>Pet</div>
    <div class="register"><a [routerLink]="['/places/register']">Register<br>Place</a></div>
  </div>
  <div *ngIf="isRegisterClicker">
    <app-pet-registration (hide)="registerPet($event)"></app-pet-registration>
  </div>


<h4>My Pets:</h4>
<div class="page-middle-container">
  <div class="myRegPets">
      <div class="pets" *ngFor="let pet of myPets">
        <p>{{pet.type}}</p> 
        <p>{{pet.name}}</p>
        <input class="btn-delete" type="submit" [(ngModel)]="pet._id" (click)="delete()" name="delete">
      </div>
  </div>
</div>

</div>