<div class="loading" *ngIf="!user">
    ...loading
</div>

<div *ngIf="user">

  <div class="user-details">
    <div class="profile-wrapper">
      <div class="Photo"></div>
      <div class="user-descr">
        <div id="username"><h3>{{user.username}}</h3></div>
        <div id="fullname"><h4>{{user.firstName}} {{user.lastName}}</h4></div>
      </div>
    </div>
    <div><a [routerLink]="['/#']">Edit Profile</a></div>
  </div>

  <div class="registers-container">
    <div class="register" (click)="registerPet()">Register<br>Pet</div>
    <div class="register"><a [routerLink]="['/places/register']">Register<br>Place</a></div>
  </div>
  <br>
  <div *ngIf="isRegisterClicker">
    <app-pet-registration (hide)="registerPet($event)"></app-pet-registration>
  </div>


  <div class="section-change"><h4>My Pets:</h4></div> 
  <div class="page-middle-cont">

    <div class="myRegPets">
        <div class="pets" *ngFor="let pet of myPets">
            <div class="pet-photo"></div>
          <div><p>{{pet.type}}</p></div>
          <div><p>: {{pet.name}}</p></div>
          <input class="btn-delete" type="submit" (click)="deletePet(pet._id)" name="delete">
        </div>
    </div>
  </div>
  <div class="page-middle-cont">
      <div class="section-change"><h4>My Places:</h4></div> 
    <div class="wrapper">
      
      <div class="myRegPlaces">
        <div class="places" *ngFor="let place of myPlaces">
          <p>Name: {{place.description}}</p> 
          <p>Located at: {{place.city}}</p>
          <p>Price asked: €{{place.price}}</p>
          <p>Animals Accepted: {{place.type_accepted}}</p>
          <button class="btn-delete-place" type="submit" (click)="deletePlace(place._id)" name="delete">Delete</button>
        </div>
      </div>
    </div>
  </div>

<div class="requests-contain">
  <h3>Hosting:</h3>
  <div>
    
    <h4> <u> Received requests: </u></h4>
    <div class="received-req" *ngFor="let request of myReceivedRequests">
      <a [routerLink]="['/place', request.place_id]">
        <p>From: {{request.start_Date}}</p>
        <p>To: {{request.end_Date}}</p>
      </a>
      <a [routerLink]="['/user', request.user]">
        <p>{{request.owner}}</p>
      </a>
    </div>
    
    <u> <h4>Approved requests:</h4> </u>
    <div class="approv-req" *ngFor="let request of myReceivApprovReq">
        <p>From: {{request.start_Date}}</p>
        <p>To: {{request.end_Date}}</p>
        <p>{{request.owner}}</p>
    </div>

  </div>

  <h3>Going aboard:</h3>
  <div>
    
    <h4>Requests Approved:</h4>
    <div class="received-req">  
    </div>
    

  </div>
</div>

</div>