h3, h4, p {
    text-shadow: 2px 2px #476269;
    text-transform: capitalize;
}

/* * {
    outline: black 1px solid;
} */

* {
    font-weight: bold; 
    color: #F5E1DA;
}

/* USER DETAILS CONTAINER */
.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;    
}   

.profile-wrapper {
    display: flex;
    align-items: center;
}

.Photo {
    background-color: gray;
    height: 100px;
    width: 100px;
    border: #F1F1F1 3px solid;
    background-image: url(../../../assets/images/placeholder-user.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 5px 10px 0 5px;
}

#username, #fullname {
    padding: 0 5px;
    text-transform: capitalize;
    text-align: start;
}

.registers-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10% 10px 0; 
}  

.register {
    display: flex;
    padding: 0 5px;
    outline: 2px solid #F1F1F1;
}

/* PETS CONTAINER DETAILS */
.page-middle-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.pet-photo{
    background-color: gray;
    height: 35px;
    width: 35px;
    border: #F1F1F1 3px solid;
    background-image: url(../../../assets/images/paw.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px 10px 0 5px;
    border-radius: 50%;
}

.myRegPets {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
}

.pets {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 10px;
}

.btn-delete {
    position: absolute;
    height: 15px;
    width: 15px;
    color: rgba(0, 0, 0, 0);
    transform: translate(-30%,20%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/symbols-delete.png);
}

 /* PLACES */
.wrapper {
    width: 90%;
    border-top: #F1F1F1 1px solid;
}

.section-change {
    border: #F1F1F1 3px solid;
}

.places {
    border-bottom: #F1F1F1 1px solid;
    
}

.myRegPlaces {
    /* border: #F1F1F1 3px solid; */
}

.btn-delete-place {
    background-color: rgb(67, 67, 67)
}





a, div {
    text-align: center;
}


h4 {
    margin-left: 20px;
}




