/* USER DETAILS CONTAINER */
.user-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5%;    
}   

.Photo {
    background-color: gray;
    height: 50px;
    width: 50px;
}

#username, #fullname {
    padding: 0 5px;
    text-transform: capitalize;
}

.registers-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5%;   
}  

.register {
    display: flex;
    padding: 0 5px;
    outline: 2px solid rgb(53, 37, 70);
}

a, div {
    text-align: center;
}

/* PET LIST CONTAINER */
.page-middle-container {
    display: flex;
    justify-content: center;
}

h4 {
    margin-left: 20px;
}

.myRegPets {
    width: 80%;
    display: flex;  
}

.pets {
    margin: 0 10px 0 10px;
}

.btn-delete {
    position: absolute;
    height: 20px;
    width: 20px;
    color: rgba(0, 0, 0, 0);
    transform: translate(140%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/symbols-delete.png);
}

* {
    outline: black 1px solid;
}