* {
    font-weight: bold; 
    color: #F5E1DA;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

form {
    width: 70%;
}

.btn {
    margin-top: 10px;
    font-weight: 900;
}

form > div {
    margin-top: 5px;
}