<div class="signup-form">
  <form action="/auth/signup" method="POST"  #myForm="ngForm">

    <div class="field" [ngClass]="{'has-error': myUserName.errors}">
      <label for="username">Username:</label>
      <br>
      <input type="text" [(ngModel)]="formInfo.username" name="username" #myUserName="ngModel" minlength="6" required>
    </div>

    <div *ngIf="myUserName.errors && myUserName.dirty">
      <p *ngIf="myUserName.errors.minlength" class="validation">username requires minimum 6 characters</p>
    </div>

    <div class="field" [ngClass]="{'has-error': (myPassword.errors && myPassword.touched)}">
      <label for="password">Password:</label>
      <br>
      <input type="password" [(ngModel)]="formInfo.password" #myPassword="ngModel" name="password" required>
    </div>

    <div *ngIf="myPassword.errors && myPassword.touched">
      <p *ngIf="myPassword.errors.required" class="validation">password is required</p>
    </div>

    <div class="field" [ngClass]="{'has-error': (firstName.errors  && firstName.touched)}">
        <label for="firstName">First Name:</label>
        <br>
        <input type="text" [(ngModel)]="formInfo.firstName" #firstName="ngModel" name="firstName" required>
    </div>

    <div *ngIf="firstName.errors && firstName.touched">
      <p *ngIf="firstName.errors.required" class="validation">Name is required</p>
    </div>

    <div class="field" [ngClass]="{'has-error': (lastName.errors && lastName.touched)}">
      <label for="lastName">Last Name:</label>
      <br>
      <input type="text" [(ngModel)]="formInfo.lastName" #lastName="ngModel" name="lastName" required>
    </div>

    <div *ngIf="lastName.errors && lastName.touched">
      <p *ngIf="lastName.errors.required" class="validation">Lastname is required</p>
    </div>

    <div>
      <input (click)="signup()" type="submit" value="Register">
    </div>
  </form>
</div>