p {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
}

.login-form form {
    padding: 5px;
}

.btn-route-signup {
    text-align: center;
}