<div class="login-form">
  <form action="/auth/signup" method="POST" (submit)="login(myForm)" #myForm="ngForm">

    <div class="field" [ngClass]="{'has-error': myUserName.errors && myUserName.touched}">
      <label for="username">Username:</label>
      <br>
      <input class="form-control" type="text" [(ngModel)]="userInfo.username" name="username" #myUserName="ngModel" required>
    </div>

    <div *ngIf="myUserName.errors && myUserName.touched">
      <p *ngIf="myUserName.errors.required" class="validation">username is required</p>
    </div>

    <div class="field" [ngClass]="{'has-error': (myPassword.errors && myPassword.touched)}">
      <label for="password">Password:</label>
      <br>
      <input class="form-control" type="password" [(ngModel)]="userInfo.password" #myPassword="ngModel" name="password" required>
    </div>

    <div *ngIf="myPassword.errors && myPassword.touched">
      <p *ngIf="myPassword.errors.required" class="validation">password is required</p>
    </div>

    <div>
      <input class="btn btn-success" type="submit" value="Log In">
    </div>
  </form>
</div>

<div *ngIf="error">
  <p id="login-error"> {{ error }} </p>
</div>

<div class="mid-container">
  <p><strong>OR</strong></p>
  <br>
  <div>
    <button class="btn btn-md"><a [routerLink]="['/auth/signup']">SIGN UP</a></button>
  </div>
</div>
