<header>
    <div class="logo-app"><img id="cat-logo" src="../assets/images/cat_logo.png" alt="logo"></div>   
    <div class="brand"><img id="brand" src="../assets/images/app_logo2.png" alt="brand"></div>
</header>

<router-outlet></router-outlet>


<nav class="navbar fixed-bottom navbar-expand-md">
<div class="nav-icons">
    <div *ngIf="user && !isInsideProfile" >
        <a class="navbar-brand" (click)="hideProfile()" [routerLink]="['/profile', user._id]"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div *ngIf="!user" class="place-holder">iiooo</div>
    <div *ngIf="user && isInsideProfile" class="place-holder">iiooo</div>
    <div>
        <a class="navbar-brand" (click)="showProfile()" [routerLink]="['/index']"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
    <div *ngIf="!user" >
        <a class="navbar-brand" (click)="showProfile()" [routerLink]="['/auth/login']"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </div>
    <div *ngIf="user">
        <a class="navbar-brand" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
</div>
</nav>