/* GENERAL */
* {
    font-weight: bold; 
    color: #F5E1DA;
}

body {
    height: 78vh;
    display: flex;
    justify-content: center;
}

h3, h4 {
    color: #F5E1DA;
    text-shadow: 2px 2px #476269;
}

section {
   display: flex;
   justify-content: center;
}

.wrapper-cont {
    width: 85%;
}

a{
    text-decoration: none;
}

/* SEARCH FORM */
.search-form {
    margin: 10px 0 0 0; 
}

.placing-cont {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

.radio-contain {
    display: flex;

}

#radio-inpt {
    margin-left: 10px;
}

input {
    margin: 10px 0 0 0;

}

label {
    margin: .5rem 0 0 0;
}

/* PLACES LISTING */
.places-container {
    margin-bottom: 75px;
    margin-top: 20px;
}

.place-list {
    border: 3px solid #35494f;
    height: 130px;
    border-radius: 10%;
    margin: 10px 0;
    box-shadow: 5px 5px #476269 ;
}

.place-list:hover { 
    background-color: rgb(83, 206, 188);
    
}

.place-top-section, .place-botton-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
}

.Photo {
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: #F1F1F1 3px solid;
    background-image: url(../../../assets/images/place-no-image.png);
    background-size: 50px auto;
    background-repeat: no-repeat;
    margin: 5px 10px 0 5px;
}

#price {
    margin-right: 10px;
}

.place-botton-section {
    margin: 10px 10px 0 65px;
}

.upper-case {
    text-transform: capitalize;
}
