.places-container {
    overflow: scroll;
}

.place {
    outline: 2px solid #212529;
}

.Photo {
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: rgb(255, 206, 12) 2px solid;
}

.place-descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5%;
}

#description {
    text-transform: capitalize;
}
