<div class="user" *ngIf="user">
  <h4> Welcome {{ user.username }}!! </h4>
</div>

<section>
<div class="wrapper-cont">
<div class="search-form">
  <div class="placing-cont">
    <form action="/auth/signup" method="POST" (submit)="searchPlaces()" #myForm="ngForm">
      <h3>Find a place:</h3>
      <div class="radio-contain">
          <label>Animals accepted:</label>
          <div class="radio" *ngFor="let type of types">
            <label>
              <input id="radio-inpt" type="radio" name="type" [(ngModel)]="searchPlace.type_accepted" [value]="type.value">
              {{type.display}}
            </label>
          </div>
      </div>
    


      <div class="field" [ngClass]="{'has-error': (placeCity.errors && placeCity.touched)}">
        <label for="city">City:</label>
        <br>
        <input class="form-control" type="text" [(ngModel)]="searchPlace.city" #placeCity="ngModel" name="city" required>
      </div>

      <div class="field" [ngClass]="{'has-error': (placePrice.errors && placePrice.touched)}">
        <label for="price">Maximum price:</label>
        <br>
        <input class="form-control" type="number" [(ngModel)]="searchPlace.price" #placePrice="ngModel" name="price" required>
      </div>

      <div>
        <input class="btn btn-primary" type="submit" value="Search">
      </div>
    </form>
  </div>
</div>

<div class="places-container">
    <h3>Places:</h3>
    <div class="place-list" *ngFor="let place of places">
      <div *ngIf="place.isEnabled">
        
        <a [routerLink]="['/place', place._id]">
        <div class="place-top-section">
          <div class="wrapper">
            <div class="Photo"></div>
            <div><h3  class="upper-case">{{place.description}}</h3></div>
          </div>
            <div id="price"><h3>€{{place.price}}</h3></div>
        </div>
        <div class="place-botton-section">
            <div>
              <h3 class="upper-case">{{place.type_accepted}}</h3></div>
            <div>
              <h3 class="upper-case">{{place.city}}</h3></div>
        </div>
        </a>

      </div>
    </div>
</div>

</div>
</section>


<!-- 
    
    <div class="place-descr">
      
      
      
    </div>
 -->