<div class="loading" *ngIf="!place">
...loading
</div>

<div *ngIf="place">
  {{place.owner}}
  {{place.description}}
  {{place.price}}
  
</div>

<div *ngIf="place && user">
    <div *ngIf="place.owner == user._id">
        <input class="btn btn-sm" type="button" value="Deactivate">
    </div>

    <div *ngIf="place.owner !== user._id">
      <div *ngIf="!isRequestAlreadySubmited">
        <div class="start-date">
          <Label>Choose a start date:</Label>
          <input type="date" [(ngModel)]="request.startDate" name="initDay" min={{yyyy}}-{{mm}}-{{dd}}>
        </div>
        <div *ngIf="request.startDate" class="end-date">
          <Label>Choose an end date:</Label>
          <input type="date" [(ngModel)]="request.endDate" name="endDay" min={{request.startDate}}>
        </div>
        <div *ngIf="request.startDate && request.startDate">
          <input class="btn btn-primary btn-sm" type="button" (click)="createRequest()" value="Request">
        </div>
      </div>

      <div *ngIf="isRequestAlreadySubmited">
        <h3>You have already submitted a request</h3>
        <Label>Cancel request:</Label>
        <input class="btn btn-danger btn-sm" type="button" (click)="cancelRequest()" value="Cancel">
      </div>
    </div>
</div>
